name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  extract_ruby_version:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Extract Ruby version from .tool-versions
        id: extract_ruby_version
        run: |
          RUBY_VERSION=$(grep -oP 'ruby\s+\K[^\s]+' .tool-versions)
          echo "version=$RUBY_VERSION" >> $GITHUB_ENV

  scan_ruby:
    runs-on: ubuntu-latest
    needs: extract_ruby_version  # Ensures this job waits for `extract_ruby_version`

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.version }}  # Reference the version from the previous job's environment
          bundler-cache: true

      - name: Scan for security vulnerabilities in JavaScript dependencies
        run: bin/importmap audit

  lint:
    runs-on: ubuntu-latest
    needs: extract_ruby_version  # Ensures this job waits for `extract_ruby_version`

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.version }}  # Reference the version from the previous job's environment
          bundler-cache: true

      - name: Lint code for consistent style
        run: bundle exec rubocop -f github

  test:
    runs-on: ubuntu-latest
    needs: extract_ruby_version  # Ensures this job waits for `extract_ruby_version`

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: --health-cmd="pg_isready" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Install packages
        run: sudo apt-get update && sudo apt-get install --no-install-recommends -y google-chrome-stable curl libjemalloc2 libvips postgresql-client

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.version }}  # Reference the version from the previous job's environment
          bundler-cache: true

      - name: Prepare test database
        env:
          RAILS_ENV: test
          DATABASE_URL: postgres://postgres:postgres@localhost:5432/flexitime_test
        run: bin/rails db:prepare

      - name: Run specs
        env:
          RAILS_ENV: test
          DATABASE_URL: postgres://postgres:postgres@localhost:5432/flexitime_test
        run: bundle exec rspec

      # - name: Run tests
      #   env:
      #     RAILS_ENV: test
      #     DATABASE_URL: postgres://postgres:postgres@localhost:5432
      #     # REDIS_URL: redis://localhost:6379/0
      #   run: bin/rails db:test:prepare test test:system

      - name: Keep screenshots from failed system tests
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: screenshots
          path: ${{ github.workspace }}/tmp/screenshots
          if-no-files-found: ignore